@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';



body {
  color: #fff;
  font-family: 'Permanent Marker', cursive; 
  font-weight: 400;
  font-style: normal;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.nav-link {
  position: relative; /* Ensure z-index works */
  z-index: 2; /* Set a higher z-index value */
  /* Add any other styles as needed */
}

